@model Golfscorecard.DAL.Entities.Scorecard

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Scorecard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoleNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoleNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerTwo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerThree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerThree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerFour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerFour)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ScorecardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
