@model IEnumerable<Golfscorecard.DAL.Entities.Scorecard>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoleNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerThree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerFour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoleNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerOne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerTwo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerThree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerFour)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ScorecardId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ScorecardId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ScorecardId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
